
body{
    background-color: linen(87, 237, 237, 0.238)
}

#titulo {
    font-size: 30px
    text-align: center;
 color:rgb (24, 3, 107);

}
.text0 {
text-align: center;
color:azure;
font-size: 20px


}